*, html {
  margin:0;
}

/* BEGIN VAN DE HEADER */

/* Header van de website */
header {
    position: sticky; top:0;
    background-color: #fbfbfb;
    border: 1px solid #eaeaea;
    z-index: 1;
}

/* Zorg dat de nav bar naast elkaar komt */
header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: inherit;
    /* Top right bottom left */
}

/* Logo van website */
#logowebsite {
  width: 7em;
}

/* vergrootglas, winkelwagen menu */
header nav ul li img {
    width: 1em;
}

.uitklapMenu {
  display: flex;
  position: fixed;
  z-index: 5;
  top: 4em; right: 0;
}

.uitklapMenu ul {
  background-color: pink;
  flex-direction: column;
  transform: translateX(110em);
}

.uitklapMenu ul li {
  padding-bottom: 1em;
}
/* Animatie hamburger menu */

/* hiermee style je de button (die je niet ziet) */
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5 ease-in-out;
  cursor: pointer;
  /*border: 3px solid black;*/
}

/* Dit is het middelste streepje in het menu */
.menu-btn__burger {
  width: 2em;
  height: 4px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

/* Het bovenste en onderste streepje in het menu */
.menu-btn__burger:before,
.menu-btn__burger:after {
  content: '';
  position: absolute;
  width: 2em;
  height: 4px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

/* De hoogte van de lijntjes */
.menu-btn__burger:before {
  transform: translateY(-10px);
}

.menu-btn__burger:after {
  transform: translateY(10px);
}

/* ANIMATIE */

/* Mideelste streepje */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px); /* Schuift hiermee naar links */
  background: transparent; /* zorgt dat het middelste streepje transparant wegschuift */
  box-shadow: none; /* haalt de border shadow die om het lijntje zit weg */
}

/* Bovenste streepje */
.menu-btn.open .menu-btn__burger:before {
  transform: rotate(45deg) translate(35px, -35px);
  background:red;
}

/* Onderste streepje */
.menu-btn.open .menu-btn__burger:after {
  transform: rotate(-45deg) translate(35px, 35px);
  background:red;
}
/* BRON VAN INFORMATIE: https://www.youtube.com/watch?v=dIyVTjJAkLw&t=350s */


/* BEGIN VAN DE MAIN */
main {

}

/* Section 1 */
section:nth-of-type(1) img {
  width: 100%;
  position: absolute;
}

.tekstOverImg {
  position: relative;
  text-align: center;
  padding: 3em 1em;
  color: white;

}

.tekstOverImg h1 {
  text-shadow: 1px 0px 1px black;
  text-transform: uppercase;
}

.tekstOverImg p {
  text-shadow: 1px 0px 1px black;
}


/* Section 2 */


/* Section 3 */
section:nth-of-type(3) {
  padding: 1em;
}

.kwaliteit {

}
.kwaliteit ul li {

}

.kwaliteit img {
  width: 100%;
}
